<p>
  I use bash a lot and can't even imagine my life without it,
  but nevertheless I never put any effort into studying it
  and ended up not knowing how to use some essential commands.
  Most importantly, awk and xargs.
</p>
<p>
  To close the gap, I wrote a few simple scripts as an exercise.
  Source code, as usual, is available
  <a href="https://github.com/practicingprogramming/bash-one-liners">on Github</a>.
  The most useful one is
  <a href="https://github.com/practicingprogramming/bash-one-liners/blob/master/xargs/should-to-expect.sh">this one</a>
  which I used for migrating one Ruby project from "should" syntax to "expect".
</p>
<p>
  Some thoughts:
  <ul>
    <li>
      Bash is a horrible programming language.
      Don't write anything longer than 10 lines in it.
    </li>
    <li>
      The best way to learn bash is to prohibit yourself to use mouse
      for selecting and copying command output.
    </li>
  </ul>
</p>
