<p>
  The first post is, naturally, about  creating this website.
</p>
<p>
  There are a lot of blogging platforms out there, but writing things by myself is the very purpose of this blog. So, I decided to make my own blogging platform from scratch.
</p>
<p>
  I decided to start by making it work first, and then making it better/more generic/whatever maybe later. I also decided not to research how other blogs work but to design it by myself.
</p>

<p>
  So, these are the minimal requirements:
  <ul>
    <li>Must be able to host static articles</li>
    <li>Must be able to show those static articles in a feed.</li>
    <li>Must have "About" page.</li>
  </ul>
</p>

<p>
  Desired but not necessary for launch:
  <ul>
    <li>Ability to leave comments</li>
    <li>Convenient publishing of new material</li>
  </ul>
</p>

<p>
  So, to satisfy the minimal requirements it’s enough for it to be completely static (HTML + JS + CSS, no backend). All I need to do is to write a bunch of HTML and host it somewhere. I chose to host in on AWS S3 as it looks like a good option, plus I'm quite familiar with it. Researching totally new technologies is out of scope of this particular project.
  It is explained in much detail in http://docs.aws.amazon.com/gettingstarted/latest/swh/website-hosting-intro.html
</p>

<p>
  Background:
  <ul>
    <li>I'm quite familiar with many AWS S3 and CloudFormation, but not CloudFront or Route53.</li>
    <li>OK with HTML, JS and CSS.</li>
    <li>Some experience with Angular.</li>
  </ul>
</p>
