<p>
  For a long time I wanted to try <a href="https://cucumber.io/">Cucumber</a>
  and <a href="http://jnicklas.github.io/capybara/">Capybara</a>.
  Finally, I used them to write some basic tests for this website.
  The source code is available <a href="https://github.com/practicingprogramming/blog-acceptance-tests">on Github</a>.
</p>
<p>
  Overall, I really liked Cucumber and especially Capybara: I found it to be the best
  framework for website testing I have tried so far.
  The ease of switching between drivers is a killer feature: running the tests headlessly
  via Poltergeist is great for continuous deployment, but for local testing and debugging
  I prefer Selenium.
  But at my current job the most challenging thing about website testing
  is authenticating system users running the tests with all the crazy internal
  systems, and I'm yet to figure out how to integrate Capybara with them.
</p>
