<p>
  Learning a new programming language seems like a great way to make yourself a better programmer.
  I considered Go, Rust, Io, Closure, Haskell and Erlang, but eventually chose Python
  because it is by far the most popular among them. It's also important for me that
  Python is supported by AWS Lambda which I really want to use more.
</p>
<p>
  I spent a couple of weeks writing simple things in Python and, overall, I didn't like it.
  For me it feels like a simpler and uglier version of Ruby.
  Simplicity is good, but this is not what I'm looking for in a programming language at this point.
  And it really seems less expressive and elegant than Ruby.
</p>
<p>
  I'm happy that I've learned what it's like, but I'm not intending to use it for anything in the future.
  I think the next time I learn a language, it will be something more different than what I already know,
  maybe even something exotic.
</p>
